<header class="header black-bg">
  <div class="sidebar-toggle-box">
    <div
      class="fa fa-bars tooltips"
      data-placement="right"
      data-original-title="Toggle Navigation"
    ></div>
  </div>
  <!--logo start-->
  <a href="/api/admin" class="logo" style="font-size: 2.2rem; font-weight: 1000"
    >Alif Electronics</a
  >
  <!--logo end-->

  <div class="top-menu">
    <ul class="nav pull-right top-menu">
      <li><a class="logout" href="/" style="font-size: 1.3rem">Logout</a></li>
    </ul>
  </div>
</header>
